<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CategoriaMapper">
    <resultMap type='categoria' id='CategoriaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaDeCreacion' column='fechaDeCreacion'/>
        <result property='estado' column='estado'/>
        <result property='fechaDeModificacion' column='fechaDeModificacion'/>
    </resultMap>

    <insert id="crearCategoria" parameterType="map">
        INSERT INTO categoria
        (nombre,descripcion,fechadecreacion,estado,fechademodificacion)
        values
        (#{categoria.nombre},#{categoria.descripcion},CURRENT_DATE,'Activa',CURRENT_DATE);

    </insert>
    <select id = "consultarIdcategoriaPorNombre" resultType ="Integer">
        SELECT c.id
        FROM categoria as c
        WHERE c.nombre = #{nombre};
    </select>

    <select parameterType="map" id="consultarNombresCategorias" resultMap="CategoriaResultMap">
        SELECT c.nombre
        FROM categoria as c;
    </select>

    <update id="actualizarDescripcionCategoria" parameterType="String">
        UPDATE categoria
        SET descripcion = #{descripcion}
        WHERE nombre = #{nombre};
    </update>

    <update id="actualizarEstadoCategoria" parameterType="String">
        UPDATE categoria
        SET estado = #{estado}
        WHERE nombre = #{nombre};
    </update>
    <update id="actualizarNombreCategoria" parameterType="String">
        UPDATE categoria
        SET nombre = #{nombre}
        WHERE nombre = #{nombre};
    </update>

    
</mapper>