<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.NecesidadMapper">
    <resultMap type='necesidad' id='NecesidadResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechadecreacion' column='fechadecreacion'/>
        <result property='estado' column='estado'/>
        <result property='fechaDemodificacion' column='fechademodificacion'/>
        <result property='urgencia' column='urgencia'/>
        <result property='categoria_id' column='categoria_id'/>
    </resultMap>


    <insert id="crearNecesidad" parameterType="map">
        INSERT INTO necesidad
        (nombre,descripcion,fechadecreacion,estado,fechademodificacion,urgencia,categoria_id)
        VALUES
        (#{necesidad.nombre},#{necesidad.descripcion},CURRENT_DATE,'Activa',CURRENT_DATE,#{necesidad.urgencia}, #{necesidad.categoria});
    </insert>


    <select parameterType="map" id="consultarNombresNecesidad" resultMap="NecesidadResult">
        SELECT n.id,n.nombre
        FROM necesidad as n
        WHERE n.estado = 'Activa';

    </select>

</mapper>